useDynLib(genefilter)

importClassesFrom(Biobase,
                  ExpressionSet)

importClassesFrom(methods,
                  ANY,
                  character,
                  factor,
                  matrix,
                  missing,
                  numeric,
                  vector)

importMethodsFrom(AnnotationDbi,
                  as.list,
                  colnames,
                  get,
                  mget,
                  ncol,
                  nrow,
                  sample)

importMethodsFrom(Biobase,
                  annotation,
                  exprs,
                  featureNames,
                  pData,
                  rowQ,
                  varLabels)

importMethodsFrom(methods,
                  "body<-",
                  show)

importFrom(Biobase,
           addVigs2WinMenu,
           subListExtract)

importFrom(annotate,
           getAnnMap)

importFrom(graphics,
           abline,
           lines,
           par,
           plot,
           points,
           polygon,
           rect,
           strheight,
           strwidth,
           text)

importFrom(methods,
           is,
           new)

importFrom(stats,
           IQR,
           anova,
           lm,
           pchisq,
           pf,
           pt,
           quantile,
           sd,
           t.test)

importFrom(survival,
           coxph)

export(Anova, 
       allNA, 
       anyNA, 
       coxfilter,
       cv, 
       eSetFilter, 
       varFilter, 
       featureFilter,
       fastT, 
       ttest, 
       shorth, 
       half.range.mode,
       rowttests, 
       colttests, 
       rowFtests, 
       colFtests,
       rowSds, 
       rowVars, 
       dist2,
       filterfun, 
       findLargest, 
       gapFilter, 
       genefilter, 
       genescale, 
       getFilterNames,
       getFuncDesc, 
       getRdAsText, 
       isESet, 
       kOverA, 
       maxA, 
       pOverA,
       parseArgs, 
       parseDesc, 
       setESetArgs, 
       showESet,
       kappa_t, kappa_p,
       filtered_p, filtered_R,
       rejection_plot,
       filter_volcano) 

exportClasses(rowROC)

exportMethods(genefinder, 
	      show, 
	      plot, 
	      "[", 
	      sens, 
	      spec,
              area, 
	      pAUC, 
	      AUC, 
	      rowpAUCs, 
	      nsFilter)
