#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

exportClasses("RGList","MAList","EListRaw","EList","MArrayLM","TestResults","LargeDataObject","Roast","MDS")
exportMethods("show")

import(methods)

S3method("[",MAList)
S3method("[",MArrayLM)
S3method("[",RGList)
S3method("[",EList)
S3method("[",EListRaw)
S3method(anova,MAList)
S3method(as.data.frame,MArrayLM)
S3method(as.matrix,MAList)
S3method(as.matrix,EList)
S3method(as.matrix,EListRaw)
S3method(as.matrix,MArrayLM)
S3method(as.matrix,marrayNorm)
S3method(as.matrix,PLMset)
S3method(as.matrix,RGList)
S3method(as.matrix,ExpressionSet)
S3method(as.matrix,LumiBatch)
S3method(as.matrix,vsn)
S3method(avedups,MAList)
S3method(avedups,EList)
S3method(avereps,RGList)
S3method(avereps,MAList)
S3method(avereps,EListRaw)
S3method(avereps,EList)
S3method(avearrays,MAList)
S3method(avearrays,EList)
S3method(cbind,MAList)
S3method(cbind,RGList)
S3method(cbind,EList)
S3method(cbind,EListRaw)
S3method(dim,MAList)
S3method(dim,MArrayLM)
S3method(dim,RGList)
S3method(dim,EList)
S3method(dim,EListRaw)
S3method(dimnames,MAList)
S3method(dimnames,MArrayLM)
S3method(dimnames,RGList)
S3method(dimnames,EList)
S3method(dimnames,EListRaw)
S3method("dimnames<-",MAList)
S3method("dimnames<-",RGList)
S3method("dimnames<-",EList)
S3method("dimnames<-",EListRaw)
S3method(fitted,MArrayLM)
S3method(length,MAList)
S3method(length,MArrayLM)
S3method(length,RGList)
S3method(length,EList)
S3method(length,EListRaw)
S3method(merge,MAList)
S3method(merge,RGList)
S3method(merge,EList)
S3method(merge,EListRaw)
S3method(rbind,MAList)
S3method(rbind,RGList)
S3method(rbind,EList)
S3method(rbind,EListRaw)
S3method(residuals,MArrayLM)
S3method(summary,MAList)
S3method(summary,MArrayLM)
S3method(summary,RGList)
S3method(summary,EList)
S3method(summary,EListRaw)
S3method(summary,TestResults)
S3method(normalizeVSN,RGList)
S3method(normalizeVSN,EListRaw)
S3method(plotMA,RGList)
S3method(plotMA,MAList)
S3method(plotMA,EList)
S3method(plotMA,MArrayLM)
S3method(plotMDS,MDS)
S3method(plotFB,RGList)
S3method(plotFB,EListRaw)
S3method(plotDensities,RGList)
S3method(plotDensities,MAList)
S3method(plotDensities,EListRaw)
S3method(plotDensities,EList)
S3method(roast,MAList)
S3method(roast,EList)
S3method(mroast,MAList)
S3method(mroast,EList)
S3method(camera,MAList)
S3method(camera,EList)
